<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">  
<properties>
	<entry key="serverIp">localhost</entry>
    <entry key="padPort">10002</entry>
    <entry key="devPort">10003</entry>
    <entry key="upDownloadPort">10004</entry>
    <entry key="downloadReleasePath">C:\dafa\appDownload\release</entry>
    <entry key="downloadDebugPath">C:\dafa\appDownload\debug</entry>
</properties>