<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">  
<properties>
	<entry key="serverIp">localhost</entry>
    <entry key="padPort">4045</entry>
    <entry key="devPort">4049</entry>
    <entry key="upDownloadPort">4046</entry>  
</properties>  